<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
	<security>
      <requestFiltering>
        <!-- 500 MB -->
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
 <system.web>
    <!-- 500 MB -->
    <httpRuntime maxRequestLength="512000" executionTimeout="3600" />
  </system.web>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\IPOWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 70241242-48e4-4e7b-9834-ca0d1efbd6f7-->